.header{
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
}
.header__img{
    width: 40px;
    height: 40px;
}
.header__nav{
    display: flex;
    align-items: center;
}



a {
    text-decoration:none;
    color:#FFF;
  }
  .rainbow-button {
    width: 101px;
    height: 46px;
    margin-right: 5px;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11vw;
    font-weight: bold;
}
  .rainbow-button::after {
    content: attr(alt);
    width: 94px;
    height: 39px;
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .rainbow-button:hover {
    animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }

  #Buscador {
    background: #424242 no-repeat 0px 5px;
    background-size: 24px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 20px;
    margin-right: 4px;
    outline: none;
  }